pvl-media-player {
	.player-controls {
		margin-bottom: 16px;
	}

	.stream-icon {
		font-size: 20px;
	}

	.loading-indicator {
		margin-top: -3px;
		margin-left: -3px;
	}

	.metadata {
		margin-left: 8px;
	}

	.volume {
		margin-left: 16px;
		margin-right: 16px;
	}

	.track,
	.artist,
	.song-info {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.song-item {
		padding: 16px;
	}
}