pvl-station-list {
	.station .md-list-item-text {
		overflow: hidden;
	}
	
	.offline {
		.icon {
			-webkit-filter: greyscale(100%);
		}
	}

	.icon {
		width: 64px;
		margin: 16px;
	}

	.selected {
		background-color: $pvlBlue;
		color: white;
	}

	.md-tile-content {
		overflow: hidden;
	}

	.name,
	.genre,
	[class*='now-playing'] {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}