@import "../../bower_components/font-awesome/scss/font-awesome";
@import "card-flip";
@import "colours";

$listBackground: #f6f6f6;
$listBorder: #ddd;
$listText: #333;
$listHoverBackground: #e1e1e1;
$listPlayingBackground: #38c;
$lightGrey: #aaa;

// http://codepen.io/mrrocks/pen/EiplA <3
$offset: 187;
$duration: 1.4s;

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans'), url(../fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans'), url(../fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans'), url(../fonts/NotoSans-Regular.ttf) format('truetype');
}

* {
	list-style: none;
	box-sizing: border-box;
}

@mixin unpadded {
	margin: 0;
	padding: 0;
}

@mixin full-size {
	width: 100%;
	height: 100%;
}

@mixin regular-font {
	font-weight: 400;
}

@mixin medium-font {
	font-weight: 700;
}

@mixin light-font {
	font-weight: 300;
}

html,body {
	@include full-size;
	@include unpadded;
	font-family: 'Noto Sans';
}

span {
	&.display4 {
		font-size: 112px;
		@include light-font;
	}

	&.display3 {
		font-size: 56px;
		@include regular-font;
	}

	&.display2 {
		font-size: 45px;
		@include regular-font;
	}

	&.display1 {
		font-size: 34px;
		@include regular-font;
	}

	&.headline {
		font-size: 24px;
		@include regular-font;
	}

	&.title {
		font-size: 20px;
		@include medium-font;
	}

	&.subhead {
		font-size: 15px;
		@include regular-font;
	}

	&.body2 {
		font-size: 13px;
		@include medium-font;
	}

	&.body1 {
		font-size: 13px;
		@include regular-font;
	}

	&.caption {
		font-size: 12px;
		@include regular-font;
	}
}


body {
	background: white url('../images/bg.jpg') no-repeat fixed center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
}

.container {
	// flex-grow: 3;
	height: 100%;
	margin-left: 300px;

	footer {
		padding: 10px 20px;
		* {
			display: inline-block;
		}
	}
}

@media(min-width: 1200px) {
	// Todo, better large-width controls
}

// http://codepen.io/mrrocks/pen/EiplA <3
@keyframes rotator {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes dash {
	0% { stroke-dashoffset: $offset; }
	50% {
		stroke-dashoffset: $offset/4;
			transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: $offset;
		transform:rotate(450deg);
	}
}

// We need to get around a Sass error here
// https://github.com/sass/libsass/issues/151
@function greyscale($value) {
	@return #{ "grayscale("+$value+")" };
}

.one-line {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.mascot {
	max-height: 500px;
	width: auto;
}

@import "station-list";
@import "media-player";
@import "show-list";
