@import "../../bower_components/font-awesome/scss/font-awesome";

$listBackground: #f6f6f6;
$listBorder: #ddd;
$listText: #333;
$listHoverBackground: #e1e1e1;
$listPlayingBackground: #38c;
$lightGrey: #aaa;

// http://codepen.io/mrrocks/pen/EiplA <3
$offset: 187;
$duration: 1.4s;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

* {
	list-style: none;
	box-sizing: border-box;
}

@mixin unpadded {
	margin: 0;
	padding: 0;
}

@mixin full-size {
	width: 100%;
	height: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.flex {
	display: flex;

	&.flex-column {
		flex-direction: column;
	}

	&.flex-row {
		flex-direction: row;
	}

	&.flex-center {
		align-items: center;
	}

	.flex-grow {
		flex: 1;
	}

	.flex-base {
		flex: 0 1 auto;
	}
}

@mixin regular-font {
	font-weight: 400;
}

@mixin medium-font {
	font-weight: 700;
}

@mixin light-font {
	font-weight: 300;
}



.material {
	font-family: 'Noto Sans';

	span {
		&.display4 {
			font-size: 112px;
			@include light-font;
		}

		&.display3 {
			font-size: 56px;
			@include regular-font;
		}

		&.display2 {
			font-size: 45px;
			@include regular-font;
		}

		&.display1 {
			font-size: 34px;
			@include regular-font;
		}

		&.headline {
			font-size: 24px;
			@include regular-font;
		}

		&.title {
			font-size: 20px;
			@include medium-font;
		}

		&.subhead {
			font-size: 15px;
			@include regular-font;
		}

		&.body2 {
			font-size: 13px;
			@include medium-font;
		}

		&.body1 {
			font-size: 13px;
			@include regular-font;
		}

		&.caption {
			font-size: 12px;
			@include regular-font;
		}
	}

	.card {
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	}

	.loader {
		// http://codepen.io/mrrocks/pen/EiplA <3
		.spinner {
			animation: rotator $duration linear infinite;
		}


		.path {
			stroke: white;
			stroke-dasharray: $offset;
			stroke-dashoffset: 0;
			transform-origin: center;
			animation: dash $duration ease-in-out infinite;
		}
	}
}

.btn {
	padding: 10px;

	&.blank-btn {
		background: none;
		border: none;
	}

	&.fab {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		border-width: 0;
		color: #fff;
		overflow: hidden;
		transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		transition-delay: 0.2s;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		font-size: 15px;

		&.blue {
			background-color: $listPlayingBackground;
		}
	}
}

html,body {
	@include full-size;
	@include unpadded;
}

body {
	background: white url('../images/bg.jpg') no-repeat fixed center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
}

.station-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: overlay;
	@include unpadded;

	.station {
		padding: 10px;
		padding-bottom: 15px;
		color: $listText;
		cursor: pointer;
		background-color: white;
		border: 1px solid $listBorder;
		border-bottom: none;

		&.selected {
			background-color: $listPlayingBackground;
			color: white;
			&:hover {
				background-color: lighten($listPlayingBackground, 10%);
			}
			.genre {
				color: lighten($lightGrey, 30%);
			}
		}

		&:hover {
			background: $listHoverBackground;
		}

		&:first-child {
			border-top: none;
		}

		&:before {
			content: '';
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		.icon,
		.details {
			display: inline;
			vertical-align: middle;
		}

		.details {
			width: 200px;
			float: right;

			> * {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.icon {
			max-width: 64px;
			margin-right: 10px;
		}

		.name {
			font-weight: 900;
			font-size: 14px;
		}

		.genre {
			font-weight: 400;
			font-size: 12px;
			color: $lightGrey;
		}

		.now-playing-title {
			font-weight: 800;
			font-size: 13px;
		}
	}
}

.container {
	// flex-grow: 3;
	height: 100%;
	margin-left: 300px;

	footer {
		padding: 10px 20px;
		* {
			display: inline-block;
		}
	}
}

.mediaPlaceholder {
	margin: 10%;
	padding: 16px;
	text-align: center;

	img, span {
		margin: auto;
		display: block;
	}

	img {
		max-height: 64vh;
	}
}

.mediaPlayer {
	$sidePadding: 16px;

	margin: 10%;

	.artwork {
		width: 100%;
		height: 400px;
		text-align: center;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.playerControls {
		padding-left: $sidePadding;
		padding-right: $sidePadding;
		white-space: nowrap;
		height: 80px;
		border-bottom: 1px solid rgba(0,0,0,0.1);

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		> * {
			vertical-align: middle;
		}

		.playButton {
			margin-right: $sidePadding;
		}

		.playButton,
		.metadata {
			display: inline-block;
		}

		.track, .artist {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.songHistory {
		@include unpadded;
		li {
			height: 76px;
			padding-left: $sidePadding;
			padding-right: $sidePadding;
			overflow: hidden;
			border-bottom: 1px solid rgba(0,0,0,0.1);

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			div {
				display: inline-block;
				vertical-align: middle;
			}

			&:last-child {
				border-bottom: none;
			}

			span {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media(min-width: 1200px) {
	// Todo, better large-width controls
}

// http://codepen.io/mrrocks/pen/EiplA <3
@keyframes rotator {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes dash {
	0% { stroke-dashoffset: $offset; }
	50% {
		stroke-dashoffset: $offset/4;
			transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: $offset;
		transform:rotate(450deg);
	}
}
