<div class="card">
		<div class="media-placeholder front" ng-show="mediaPlayer.station === null">
			<img src="/images/mascot.png" alt="Mascot">
			<span class="title">Select a station from the left to begin listening!</span>
		</div>

		<div class="media-player back" ng-show="mediaPlayer.station !== null">

			<div class="player-controls flex flex-row flex-center">
				<button name="play/pause button" class="btn fab blue play-button flex-base" type="button" ng-click="mediaPlayer.togglePlayback()">
					<div class="loader" ng-show="mediaPlayer.isLoading">
						<svg class="spinner" width="36px" height="36px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
		   					<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"/>
						</svg>
					</div>
					<i class="fa" ng-hide="mediaPlayer.isLoading" ng-class="{'fa-play': !mediaPlayer.isPlaying, 'fa-pause': mediaPlayer.isPlaying}"></i>
				</button>
				<div class="metadata flex-grow">
					<span class="track title">{{mediaPlayer.nowPlaying.current_song.title}}</span>
					<span class="artist subhead">{{mediaPlayer.nowPlaying.current_song.artist}}</span>
					<div class="flex flex-row volume-control">
						<i class="fa fa-volume-down flex-base volume-down" ng-click="mediaPlayer.changeVolume(-0.05)"></i>
						<input name="volume" class="volume-slider flex-grow" ng-model="mediaPlayer.audioVolume" type="range" min="0.0" max="1.0" step="0.05">
						<i class="fa fa-volume-up flex-base volume-up" ng-click="mediaPlayer.changeVolume(0.05)"></i>
					</div>
					<div ng-show="mediaPlayer.station.streams.length > 1">
						<i class="fa fa-code-fork"></i>
						<md-select class="stream-select" ng-model="mediaPlayer.streamName" placeholder="Stream">
							<md-option ng-repeat="stream in mediaPlayer.station.streams" ng-value="stream.name">{{stream.name}}</md-option>
						</md-select>
					</div>
				</div>
			</div>

			<ul class="song-history" ng-cloak>
				<li ng-repeat="entry in mediaPlayer.nowPlaying.song_history">
					<div>
						<span class="body2">{{entry.song.title}}</span>
						<span class="body1">{{entry.song.artist}}</span>
					</div>
				</li>
			</ul>
		</div>
</div>