<md-list>
	<md-item
		ng-class="{offline: station.offline || station.category === 'video'}"
		ng-repeat="station in stationList.stations"
		ng-click="stationList.setSelected($index)">
		<md-item-content ng-class="{selected: ($index === stationList.currentIndex)}">
			<div class="md-tile-left">
				<img class="icon" alt="{{::station.name}}" ng-src="{{station.safeImgUrl}}">
			</div>
			<div class="md-tile-content">
				<span class="name headline">{{::station.name}}</span>
				<span class="genre subhead">{{::station.genre}}</span>
				<span class="now-playing-title body2">{{stationList.nowPlaying[station.shortcode].current_song.title}}</span>
				<span class="now-playing-artist body1">{{stationList.nowPlaying[station.shortcode].current_song.artist}}</span>
			</div>
		</md-item-content>
		<md-divider ng-if="!$last"></md-divider>
	</md-item>
</md-list>